# Load Data

In [ ]:
import pandas as pd

file_path = 'PHIR82FL.DTA' #adjust the path when you run on your own laptop
df = pd.read_stata(file_path, convert_categoricals= False)

df

,caseid,v000,v001,v002,v003,v004,v005,v006,v007,v008,...,s615d_3,s615d_4,s615d_5,s615d_6,s617b_1,s617b_2,s617b_3,s617b_4,s617b_5,s617b_6
0,1 4 2,PH8,1,4,2,1,116381,5,2022,1469,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1 4 3,PH8,1,4,3,1,116381,5,2022,1469,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1 4 4,PH8,1,4,4,1,116381,5,2022,1469,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1 6 2,PH8,1,6,2,1,116381,5,2022,1469,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1 7 6,PH8,1,7,6,1,116381,5,2022,1469,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27816,1247 23 2,PH8,1247,23,2,1247,694550,5,2022,1469,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27817,1247 23 4,PH8,1247,23,4,1247,694550,5,2022,1469,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27818,1247 26 3,PH8,1247,26,3,1247,694550,5,2022,1469,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27819,1247 26 7,PH8,1247,26,7,1247,694550,5,2022,1469,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27820,1247 27 2,PH8,1247,27,2,1247,694550,5,2022,1469,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# EDA (Exploratory Data Analysis)

## Survey Answer Meaning

                               0  Never
                               1  Often
                               2  Sometimes
                               3  Yes, but not in the last 12 months
                               4  Yes, but frequency in last 12 months missing
                           (m) 9  Missing
                          (na)    Not applicable

Logic:
1. Technically, the meanings of 'missing' will be same as the 'na' value, here we assume they are together (tbh there is no value '9' in all the attribute columns)
2. Here, we are still using the 'smaller means more serious'. The computational method will be: SUM(all attribute values) / # not na or 9 or 0 col = avg of the valid answer
3. This algo should apply for each type of violence and the overall one
??: the formula should consider the number of vaild answer

In [ ]:
#the current data w/o the all na row
def check_column_distribution(dataframe):
    """
    Prints the distribution of values for each column in the dataframe.

    Parameters:
    dataframe (pd.DataFrame): The dataframe to check.
    """
    for col in dataframe.columns:
        try:
            print(f"Distribution for column: {col}")
            print(dataframe[col].value_counts(dropna=False))
        except ValueError as e:
            print(f"Could not process column '{col}' due to: {str(e)}")
        print("-" * 50)

In [ ]:
check_column_distribution(df)

Distribution for column: caseid
caseid
   1   4  2    1
 809  24  3    1
 810  16  8    1
 810  15  2    1
 810   9  2    1
              ..
 399   5  2    1
 399   4  7    1
 399   4  3    1
 399   4  1    1
1247  27  2    1
Name: count, Length: 27821, dtype: int64
--------------------------------------------------
Distribution for column: v000
v000
PH8    27821
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v001
v001
25      72
62      71
1095    64
29      58
28      53
        ..
395      4
1080     3
346      2
304      2
310      2
Name: count, Length: 1247, dtype: int64
--------------------------------------------------
Distribution for column: v002
v002
17      1052
16      1047
7       1039
10      1011
5       1010
        ...
2022       1
1034       1
2001       1
3015       1
2009       1
Name: count, Length: 119, dtype: int64
--------------------------------------------------
Distribution for column: v003
v003
2     12633
3      5430
4      3628
1      2148
5      1840
6       977
7       518
8       291
9       163
10       82
11       52
12       23
13       15
15        9
14        5
16        2
17        2
19        2
18        1
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v004
v004
25      72
62      71
1095    64
29      58
28      53
        ..
395      4
1080     3
346      2
304      2
310      2
Name: count, Length: 1247, dtype: int64
--------------------------------------------------
Distribution for column: v005
v005
138474     82
350441     72
240599     71
2739925    70
132244     64
           ..
276141      4
179120      3
3237001     2
1877376     2
6094671     2
Name: count, Length: 1229, dtype: int64
--------------------------------------------------
Distribution for column: v006
v006
5    19486
6     8270
7       65
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v007
v007
2022    27821
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v008
v008
1469    19486
1470     8270
1471       65
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v008a
v008a
44693    938
44692    931
44699    874
44712    856
44698    843
        ...
44745      4
44748      2
44749      2
44750      2
44752      1
Name: count, Length: 68, dtype: int64
--------------------------------------------------
Distribution for column: v009
v009
12    2511
9     2483
10    2457
1     2420
11    2377
3     2366
5     2285
7     2280
8     2275
6     2215
4     2176
2     1976
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v010
v010
2006    1209
2005    1203
2004    1202
2003    1152
2002    1115
2001     972
2000     946
1999     858
1997     816
1998     813
1993     768
1990     765
1992     757
1995     757
1987     743
1991     740
1996     732
1994     729
1980     717
1983     713
1982     712
1988     711
1989     701
1981     685
1984     681
1979     672
1986     670
1977     660
1978     658
1973     657
1975     651
1976     623
1974     603
1985     600
2007     455
1972     375
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v011
v011
1282    119
1246    117
1259    116
1270    115
1269    115
       ...
882      40
986      39
1022     34
880      33
1290     12
Name: count, Length: 421, dtype: int64
--------------------------------------------------
Distribution for column: v012
v012
16    1229
18    1212
17    1193
15    1146
19    1070
20    1047
22     955
21     937
24     819
26     788
23     780
29     767
25     753
32     753
27     744
31     744
34     738
28     737
30     728
42     722
38     714
40     697
39     693
33     683
35     681
41     679
36     672
43     664
48     655
44     645
45     643
46     642
49     633
47     630
37     628
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v013
v013
1    5850
2    4538
3    3789
4    3646
6    3407
5    3388
7    3203
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v014
v014
1    27795
3       14
6        7
2        5
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v015
v015
1    27821
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v016
v016
6     1438
3     1338
11    1281
4     1277
2     1269
7     1163
5     1147
12    1142
13    1065
17     989
18     972
14     958
19     937
16     905
10     881
24     880
26     865
31     856
25     848
20     824
23     809
27     772
1      768
21     680
28     624
30     609
8      591
15     553
9      539
22     441
29     400
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v017
v017
1405    27821
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v018
v018
16    19486
15     8270
14       65
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v019
v019
65    19486
66     8270
67       65
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v019a
v019a
2    27821
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v020
v020
0    27821
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v021
v021
25      72
62      71
1095    64
29      58
28      53
        ..
395      4
1080     3
346      2
304      2
310      2
Name: count, Length: 1247, dtype: int64
--------------------------------------------------
Distribution for column: v022
v022
3      527
6      510
5      431
1      372
104    369
      ...
24     122
95      86
64      76
38      66
40      43
Name: count, Length: 117, dtype: int64
--------------------------------------------------
Distribution for column: v023
v023
3      527
6      510
5      431
1      372
104    369
      ...
24     122
95      86
64      76
38      66
40      43
Name: count, Length: 117, dtype: int64
--------------------------------------------------
Distribution for column: v024
v024
13    2635
3     2321
15    2165
6     1842
10    1711
8     1678
14    1668
4     1613
5     1553
16    1512
7     1457
11    1418
17    1405
12    1360
2     1164
1     1160
9     1159
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v025
v025
2    16487
1    11334
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v026
v026
NaN    27821
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v027
v027
1    22837
2     4701
3      252
4       24
5        7
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v028
v028
1571    150
1572    147
1532    146
1351    144
1591    137
       ...
1060      1
410       1
534       1
1030      1
810       1
Name: count, Length: 397, dtype: int64
--------------------------------------------------
Distribution for column: v029
v029
NaN    27821
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v030
v030
1570    431
1360    381
1510    372
460     359
1350    356
       ...
1140    152
1750    150
1230    150
1620    146
1520     86
Name: count, Length: 110, dtype: int64
--------------------------------------------------
Distribution for column: v031
v031
NaN    27821
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v032
v032
NaN    27821
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v034
v034
NaN     13373
1.0     10637
2.0      1112
3.0       698
4.0       575
5.0       427
6.0       292
0.0       275
7.0       167
8.0       110
9.0        57
10.0       45
11.0       18
12.0       17
14.0        5
15.0        3
16.0        3
18.0        3
13.0        3
17.0        1
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v040
v040
8       1134
9       1111
0       1001
7        996
6        974
        ...
225       11
200        9
1303       8
189        8
378        7
Name: count, Length: 304, dtype: int64
--------------------------------------------------
Distribution for column: v042
v042
0    27821
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v044
v044
1    19228
0     8408
2      185
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v045a
v045a
2    12695
7     7561
1     2577
6     1811
3     1481
5     1013
4      683
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v045b
v045b
2     12068
7      7675
3      2084
6      1800
96     1582
5      1111
1       790
4       711
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v045c
v045c
2     9648
7     7535
96    4285
3     2416
6     1672
5     1135
4     1056
1       74
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v046
v046
0    25501
1     2320
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v047
v047
157    431
136    381
151    372
46     359
135    356
      ...
114    152
175    150
123    150
162    146
152     86
Name: count, Length: 110, dtype: int64
--------------------------------------------------
Distribution for column: v048
v048
1570    431
1360    381
1510    372
460     359
1350    356
       ...
1140    152
1750    150
1230    150
1620    146
1520     86
Name: count, Length: 110, dtype: int64
--------------------------------------------------
Distribution for column: v101
v101
13    2635
3     2321
15    2165
6     1842
10    1711
8     1678
14    1668
4     1613
5     1553
16    1512
7     1457
11    1418
17    1405
12    1360
2     1164
1     1160
9     1159
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v102
v102
2    16487
1    11334
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v103
v103
NaN    27821
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v104
v104
95    16363
10      618
15      598
20      562
0       463
5       436
16      422
18      421
12      408
3       403
17      397
7       371
2       333
8       332
22      320
6       303
11      292
1       291
19      288
13      288
9       279
21      273
14      266
25      252
23      250
4       249
30      229
24      229
27      161
26      154
28      153
35      127
29      114
40      105
32       97
96       95
31       90
33       81
36       77
38       73
37       67
34       65
39       60
44       48
42       47
47       45
43       44
45       41
41       41
46       39
48       34
49       27
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v105
v105
NaN    16458
3.0     5486
1.0     3757
2.0     2075
4.0       45
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v105a
v105a
NaN     16458
13.0     2165
15.0     1071
3.0       945
4.0       823
14.0      816
6.0       576
7.0       521
10.0      513
16.0      500
5.0       498
8.0       489
9.0       488
2.0       453
1.0       435
11.0      365
17.0      337
12.0      304
96.0       64
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v106
v106
2    14472
3    10062
1     3005
0      282
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v107
v107
4.0     8503
6.0     7672
3.0     3524
2.0     3480
1.0     2396
5.0     1902
NaN      282
8.0       35
98.0      21
7.0        6
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v113
v113
72    13946
11     4242
21     2160
41     1789
31     1203
12     1188
14      780
13      671
32      450
97      385
51      340
42      330
71      148
61      137
43       33
62       14
96        5
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v115
v115
996    22869
5       1313
10       913
30       480
997      385
20       367
15       355
0        269
2        172
60       166
3        135
4         80
25        69
6         58
40        37
1         27
120       25
8         17
45        16
998       13
35        10
90         9
70         5
7          4
12         4
180        3
80         3
23         3
50         3
100        2
65         2
14         1
11         1
150        1
16         1
240        1
55         1
350        1
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v116
v116
12    22688
13     1765
31     1013
11      684
43      554
97      385
22      285
14      205
23      100
96       46
21       39
42       24
41       22
15       11
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v119
v119
1    25890
0     1546
7      385
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v120
v120
0    15556
1    11880
7      385
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v121
v121
1    20099
0     7337
7      385
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v122
v122
1    14148
0    13288
7      385
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v123
v123
0    20358
1     7078
7      385
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v124
v124
1    14895
0    12541
7      385
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v125
v125
0    24303
1     3133
7      385
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v127
v127
34    14626
33     6528
21     2501
22     1406
11     1348
97      385
23      285
31      254
32      244
36      132
35       87
24       17
96        8
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v128
v128
31    16007
25     2685
36     2518
34     1998
21     1680
22     1140
37      512
97      385
27      364
32      199
28      167
12       50
26       49
11       37
33       20
35        4
24        4
23        2
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v129
v129
31    25355
34      844
12      730
97      385
24      176
13       89
33       51
22       38
23       34
36       34
11       23
37       20
32       19
35       19
21        3
96        1
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v130
v130
1     19584
5      3068
2      2898
3       705
6       671
4       512
96      359
95       24
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v131
v131
2     6067
1     5108
3     2650
4     2098
5     1755
9     1409
96     991
8      915
7      770
6      627
71     620
35     405
69     342
82     324
64     288
80     276
23     234
67     216
68     207
85     193
58     192
27     189
86     184
52     183
63     178
33     176
87     164
73     143
43      97
84      93
50      86
77      85
55      79
53      76
62      69
10      68
11      64
26      63
48      56
49      50
88      31
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v133
v133
10    7036
18    4702
9     2216
8     1733
14    1560
6     1552
13    1533
12    1418
11    1337
16    1132
15    1022
7      726
5      495
4      335
3      286
0      282
2      187
1      137
17      70
20      35
98      21
19       6
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v134
v134
NaN    27821
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v135
v135
1    27436
2      385
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v136
v136
4     5703
5     5632
6     4166
3     3348
7     2963
8     1884
2     1220
9     1104
10     680
11     388
12     238
1      183
13     107
14      61
15      51
16      31
19      20
17      20
18      17
20       5
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v137
v137
0    17096
1     7673
2     2448
3      481
4       95
5       25
6        3
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v138
v138
1    13777
2     8697
3     3863
4     1129
5      253
6       94
8        8
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v139
v139
13    2622
3     2289
15    2159
6     1808
10    1704
14    1654
8     1623
4     1588
5     1526
16    1486
7     1438
11    1409
17    1366
12    1352
1     1143
9     1139
2     1130
97     385
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v140
v140
2    16223
1    11213
7      385
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v141
v141
NaN    27821
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v149
v149
5    10062
3     7780
4     6692
2     1552
1     1453
0      282
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v150
v150
2     10770
3     10692
1      2148
4      1209
5      1123
10      868
12      405
8       365
11      226
6         9
7         6
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v151
v151
1    21554
2     6267
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v152
v152
47    1055
49    1028
48    1000
45     972
46     958
      ...
98       8
95       8
94       5
93       4
15       2
Name: count, Length: 81, dtype: int64
--------------------------------------------------
Distribution for column: v153
v153
0    24403
1     3033
7      385
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: awfactt
awfactt
100    27821
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: awfactu
awfactu
100    27821
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: awfactr
awfactr
100    27821
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: awfacte
awfacte
100    27821
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: awfactw
awfactw
100    27821
Name: count, dtype: int64
--------------------------------------------------
Distribution for column: v155
v155
2    25797
1     1487
0      521
4       14
3        2
Name: count, dtype: int64
--------------------------------------------------

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
file_path = 'drive/MyDrive/DS Proj (Team 25)/Individual_csv/Bangladesh Standard DHS 2007.csv'

# Data Cleaning

In [ ]:
emotional_list = ['d101a', 'd101b', 'd101c', 'd101d', 'd101e', 'd101f', 'd103a', 'd103b']
physical_list = ['d105a', 'd105b', 'd105c', 'd105d', 'd105e', 'd105f', 'd105g']
sexual_list = ['d105h', 'd105i', 'd105k']

In [ ]:
attribute_lists = {
    'emotional': emotional_list,
    'physical': physical_list,
    'sexual': sexual_list
}

In [ ]:
#new
def data_cleaning(raw_data_path, attributes_list_path, attribute_lists):
    # Read the raw CSV dataset
    whole_data = pd.read_csv(raw_data_path)
    attributes_list = pd.read_csv(attributes_list_path)

    # Convert column names to lowercase
    whole_data.columns = whole_data.columns.str.lower()
    attributes_list['Column ID'] = attributes_list['Column ID'].str.lower()

    # Extract the list of column IDs
    column_ids = attributes_list['Column ID'].tolist()

    # Locate which columns from column_ids exist in the main dataset
    existing_columns = [col for col in column_ids if col in whole_data.columns]
    missing_columns = [col for col in column_ids if col not in whole_data.columns]

    # Select only the existing columns from the main dataset
    filtered_dataset = whole_data[existing_columns]

    # Drop the NA rows from the main dataset
    cleaned_data = filtered_dataset.dropna(how='all')

    # Separate rows where all values in the attribute lists are NA
    attribute_columns = [col for cols in attribute_lists.values() for col in cols if col in cleaned_data.columns]
    attribute_data = cleaned_data[attribute_columns]
    all_na_rows = cleaned_data[attribute_data.isna().all(axis=1)]
    cleaned_violence_data = cleaned_data[~cleaned_data.index.isin(all_na_rows.index)]

    # Reset the index so that it can be tracked by ID later
    cleaned_violence_data = cleaned_violence_data.reset_index(drop=True)
    cleaned_violence_data['unique_id'] = cleaned_violence_data.index + 1

    # Reorder columns to have 'unique_id' first
    cols = ['unique_id'] + [col for col in cleaned_violence_data.columns if col != 'unique_id']
    cleaned_violence_data = cleaned_violence_data[cols]

    return cleaned_violence_data, all_na_rows

In [ ]:
raw_data_path = 'PHIR82FL.csv'
attributes_list_path = 'Attributes_Template.csv'
#clean_data = data_cleaning(raw_data_path, attributes_list_path)
clean_data, all_na_rows = data_cleaning(raw_data_path, attributes_list_path, attribute_lists)

print(clean_data)

C:\Users\wangc\AppData\Local\Temp\ipykernel_34812\2008153363.py:4: DtypeWarning: Columns (4722) have mixed types. Specify dtype option on import or set low_memory=False.
  whole_data = pd.read_csv(raw_data_path)

       unique_id v000  v001  v002  v003  v004    v005  d103e  d105h  d105h  \
0              1  PH8     1     6     2     1  116381    0.0    0.0    0.0
1              2  PH8     1     7     6     1  116381    0.0    0.0    0.0
2              3  PH8     1     8     2     1  116381    0.0    0.0    0.0
3              4  PH8     1     9     2     1  116381    0.0    0.0    0.0
4              5  PH8     1    17     2     1  116381    0.0    2.0    2.0
...          ...  ...   ...   ...   ...   ...     ...    ...    ...    ...
14581      14582  PH8  1247    17     3  1247  694550    0.0    0.0    0.0
14582      14583  PH8  1247    20     2  1247  694550    0.0    0.0    0.0
14583      14584  PH8  1247    23     2  1247  694550    0.0    0.0    0.0
14584      14585  PH8  1247    26     7  1247  694550    0.0    0.0    0.0
14585      14586  PH8  1247    27     2  1247  694550    0.0    0.0    0.0

       ...  d105e  d105f  d105g  d105h  d105h  d105i  d105i  d105j  d105k  \
0      ...    0.0    0.0    NaN    0.0    0.0    0.0    0.0    0.0    0.0
1      ...    0.0    0.0    NaN    0.0    0.0    0.0    0.0    0.0    0.0
2      ...    0.0    0.0    NaN    0.0    0.0    0.0    0.0    0.0    0.0
3      ...    0.0    0.0    NaN    0.0    0.0    0.0    0.0    0.0    0.0
4      ...    0.0    0.0    NaN    2.0    2.0    2.0    2.0    0.0    2.0
...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
14581  ...    0.0    0.0    NaN    0.0    0.0    0.0    0.0    0.0    0.0
14582  ...    0.0    0.0    NaN    0.0    0.0    0.0    0.0    0.0    0.0
14583  ...    0.0    0.0    NaN    0.0    0.0    0.0    0.0    0.0    0.0
14584  ...    0.0    0.0    NaN    0.0    0.0    0.0    0.0    0.0    0.0
14585  ...    0.0    0.0    NaN    0.0    0.0    0.0    0.0    0.0    0.0

       d105k
0        0.0
1        0.0
2        0.0
3        0.0
4        2.0
...      ...
14581    0.0
14582    0.0
14583    0.0
14584    0.0
14585    0.0

[14586 rows x 74 columns]

In [ ]:
print(all_na_rows)

      v000  v001  v002  v003  v004    v005  d103e  d105h  d105i  d105k  ...  \
0      PH8     1     4     2     1  116381    NaN    NaN    NaN    NaN  ...
1      PH8     1     4     3     1  116381    NaN    NaN    NaN    NaN  ...
2      PH8     1     4     4     1  116381    NaN    NaN    NaN    NaN  ...
7      PH8     1    14     7     1  116381    NaN    NaN    NaN    NaN  ...
13     PH8     1    27     2     1  116381    NaN    NaN    NaN    NaN  ...
...    ...   ...   ...   ...   ...     ...    ...    ...    ...    ...  ...
27809  PH8  1247     3     3  1247  694550    NaN    NaN    NaN    NaN  ...
27810  PH8  1247     6     2  1247  694550    NaN    NaN    NaN    NaN  ...
27811  PH8  1247     6     7  1247  694550    NaN    NaN    NaN    NaN  ...
27817  PH8  1247    23     4  1247  694550    NaN    NaN    NaN    NaN  ...
27818  PH8  1247    26     3  1247  694550    NaN    NaN    NaN    NaN  ...

       d105b  d105c  d105d  d105e  d105f  d105g  d105h  d105i  d105j  d105k
0        NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1        NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2        NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
7        NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
13       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
27809    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
27810    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
27811    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
27817    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
27818    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

[13235 rows x 65 columns]

# requalify

In [ ]:
y_list=['d101a', 'd101b', 'd101c', 'd101d', 'd101e', 'd101f', 'd103a',
            'd103b','d105a', 'd105b', 'd105c', 'd105d', 'd105e', 'd105f', 'd105g',
            'd105h', 'd105i', 'd105k']

In [ ]:
# drop the duplicated row
clean = clean_data.loc[:, ~clean_data.columns.duplicated()]

In [ ]:
clean[y_list]=clean[y_list].replace({0:1,1:4,2:3,3:2})

C:\Users\wangc\AppData\Local\Temp\ipykernel_34812\3600627075.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean[y_list]=clean[y_list].replace({0:1,1:4,2:3,3:2})

In [ ]:
clean_data=clean
#62 cloumns

In [ ]:
'''y_list=['d101a', 'd101b', 'd101c', 'd101d', 'd101e', 'd101f', 'd103a',
            'd103b','d105a', 'd105b', 'd105c', 'd105d', 'd105e', 'd105f', 'd105g',
            'd105h', 'd105i', 'd105k']
clean_data['d105d'].value_counts()

#d101f d105g  all nan'''

d105d
0.0    14303
3.0      142
2.0      128
1.0       13
Name: count, dtype: int64

# Response Variable (y) Calculation

In [ ]:
def compute_valid_and_sum(df, attribute_lists):
    # Initialize overall metrics
    df['overall_valid_count'] = 0
    df['overall_valid_sum'] = 0.0

    for name, columns in attribute_lists.items():
        existing_columns = [col for col in columns if col in df.columns]
        if not existing_columns:  # If no columns exist, set metrics to 0
            df[f'{name}_valid_count'] = 0
            df[f'{name}_valid_sum'] = 0.0
            df[f'{name}_avg'] = 0
        else:
            # Replace 0 and 9 with NaN to consider them as invalid
            valid_df = df[existing_columns].replace([0, 9], float('nan'))
            # Compute valid counts and sum for the attribute list
            df[f'{name}_valid_count'] = valid_df.notna().sum(axis=1)
            df[f'{name}_valid_sum'] = valid_df.sum(axis=1)
            # Calculate average, handling division by zero by filling NaN with 0
            df[f'{name}_avg'] = (df[f'{name}_valid_sum'] / df[f'{name}_valid_count']).fillna(0)

        # Update the overall valid count and sum
        df['overall_valid_count'] += df[f'{name}_valid_count']
        df['overall_valid_sum'] += df[f'{name}_valid_sum']

    # Compute the overall average and handle division by zero
    df['overall_avg'] = (df['overall_valid_sum'] / df['overall_valid_count']).fillna(0)

    return df

In [ ]:
result = compute_valid_and_sum(clean_data, attribute_lists)
print(result)

       unique_id v000  v001  v002  v003  v004    v005  d103e  d105h  d105i  \
0              1  PH8     1     6     2     1  116381    0.0    1.0    1.0
1              2  PH8     1     7     6     1  116381    0.0    1.0    1.0
2              3  PH8     1     8     2     1  116381    0.0    1.0    1.0
3              4  PH8     1     9     2     1  116381    0.0    1.0    1.0
4              5  PH8     1    17     2     1  116381    0.0    3.0    3.0
...          ...  ...   ...   ...   ...   ...     ...    ...    ...    ...
14581      14582  PH8  1247    17     3  1247  694550    0.0    1.0    1.0
14582      14583  PH8  1247    20     2  1247  694550    0.0    1.0    1.0
14583      14584  PH8  1247    23     2  1247  694550    0.0    1.0    1.0
14584      14585  PH8  1247    26     7  1247  694550    0.0    1.0    1.0
14585      14586  PH8  1247    27     2  1247  694550    0.0    1.0    1.0

       ...  emotional_valid_count  emotional_valid_sum  emotional_avg  \
0      ...                      7                  7.0       1.000000
1      ...                      7                 13.0       1.857143
2      ...                      7                  7.0       1.000000
3      ...                      7                  7.0       1.000000
4      ...                      7                 11.0       1.571429
...    ...                    ...                  ...            ...
14581  ...                      7                  7.0       1.000000
14582  ...                      7                  9.0       1.285714
14583  ...                      7                  8.0       1.142857
14584  ...                      7                  7.0       1.000000
14585  ...                      7                  8.0       1.142857

       physical_valid_count  physical_valid_sum  physical_avg  \
0                         6                 6.0           1.0
1                         6                 6.0           1.0
2                         6                 6.0           1.0
3                         6                 6.0           1.0
4                         6                 6.0           1.0
...                     ...                 ...           ...
14581                     6                 6.0           1.0
14582                     6                 6.0           1.0
14583                     6                 6.0           1.0
14584                     6                 6.0           1.0
14585                     6                 6.0           1.0

       sexual_valid_count  sexual_valid_sum  sexual_avg  overall_avg
0                       3               3.0         1.0       1.0000
1                       3               3.0         1.0       1.3750
2                       3               3.0         1.0       1.0000
3                       3               3.0         1.0       1.0000
4                       3               9.0         3.0       1.6250
...                   ...               ...         ...          ...
14581                   3               3.0         1.0       1.0000
14582                   3               3.0         1.0       1.1250
14583                   3               3.0         1.0       1.0625
14584                   3               3.0         1.0       1.0000
14585                   3               3.0         1.0       1.0625

[14586 rows x 74 columns]

C:\Users\wangc\AppData\Local\Temp\ipykernel_34812\1687615479.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['overall_valid_count'] = 0
C:\Users\wangc\AppData\Local\Temp\ipykernel_34812\1687615479.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['overall_valid_sum'] = 0.0
C:\Users\wangc\AppData\Local\Temp\ipykernel_34812\1687615479.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'{name}_valid_count'] = valid_df.notna().sum(axis=1)
C:\Users\wangc\AppData\Local\Temp\ipykernel_34812\1687615479.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'{name}_valid_sum'] = valid_df.sum(axis=1)
C:\Users\wangc\AppData\Local\Temp\ipykernel_34812\1687615479.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'{name}_avg'] = (df[f'{name}_valid_sum'] / df[f'{name}_valid_count']).fillna(0)
C:\Users\wangc\AppData\Local\Temp\ipykernel_34812\1687615479.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['overall_valid_count'] += df[f'{name}_valid_count']
C:\Users\wangc\AppData\Local\Temp\ipykernel_34812\1687615479.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['overall_valid_sum'] += df[f'{name}_valid_sum']
C:\Users\wangc\AppData\Local\Temp\ipykernel_34812\1687615479.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'{name}_valid_count'] = valid_df.notna().sum(axis=1)
C:\Users\wangc\AppData\Local\Temp\ipykernel_34812\1687615479.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'{name}_valid_sum'] = valid_df.sum(axis=1)
C:\Users\wangc\AppData\Local\Temp\ipykernel_34812\1687615479.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'{name}_avg'] = (df[f'{name}_valid_sum'] / df[f'{name}_valid_count']).fillna(0)
C:\Users\wangc\AppData\Local\Temp\ipykernel_34812\1687615479.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['overall_valid_count'] += df[f'{name}_valid_count']
C:\Users\wangc\AppData\Local\Temp\ipykernel_34812\1687615479.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['overall_valid_sum'] += df[f'{name}_valid_sum']
C:\Users\wangc\AppData\Local\Temp\ipykernel_34812\1687615479.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'{name}_valid_count'] = valid_df.notna().sum(axis=1)
C:\Users\wangc\AppData\Local\Temp\ipykernel_34812\1687615479.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'{name}_valid_sum'] = valid_df.sum(axis=1)
C:\Users\wangc\AppData\Local\Temp\ipykernel_34812\1687615479.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'{name}_avg'] = (df[f'{name}_valid_sum'] / df[f'{name}_valid_count']).fillna(0)
C:\Users\wangc\AppData\Local\Temp\ipykernel_34812\1687615479.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['overall_valid_count'] += df[f'{name}_valid_count']
C:\Users\wangc\AppData\Local\Temp\ipykernel_34812\1687615479.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['overall_valid_sum'] += df[f'{name}_valid_sum']

In [ ]:
result.to_csv('final.csv', index=False)

# Metadata Mapping

In [ ]:
import pandas as pd

df=pd.read_csv('final.csv')

df

,unique_id,v000,v001,v002,v003,v004,v005,d103e,d105h,d105i,...,emotional_valid_count,emotional_valid_sum,emotional_avg,physical_valid_count,physical_valid_sum,physical_avg,sexual_valid_count,sexual_valid_sum,sexual_avg,overall_avg
0,1,PH8,1,6,2,1,116381,0.0,1.0,1.0,...,7,7.0,1.000000,6,6.0,1.0,3,3.0,1.0,1.0000
1,2,PH8,1,7,6,1,116381,0.0,1.0,1.0,...,7,13.0,1.857143,6,6.0,1.0,3,3.0,1.0,1.3750
2,3,PH8,1,8,2,1,116381,0.0,1.0,1.0,...,7,7.0,1.000000,6,6.0,1.0,3,3.0,1.0,1.0000
3,4,PH8,1,9,2,1,116381,0.0,1.0,1.0,...,7,7.0,1.000000,6,6.0,1.0,3,3.0,1.0,1.0000
4,5,PH8,1,17,2,1,116381,0.0,3.0,3.0,...,7,11.0,1.571429,6,6.0,1.0,3,9.0,3.0,1.6250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14581,14582,PH8,1247,17,3,1247,694550,0.0,1.0,1.0,...,7,7.0,1.000000,6,6.0,1.0,3,3.0,1.0,1.0000
14582,14583,PH8,1247,20,2,1247,694550,0.0,1.0,1.0,...,7,9.0,1.285714,6,6.0,1.0,3,3.0,1.0,1.1250
14583,14584,PH8,1247,23,2,1247,694550,0.0,1.0,1.0,...,7,8.0,1.142857,6,6.0,1.0,3,3.0,1.0,1.0625
14584,14585,PH8,1247,26,7,1247,694550,0.0,1.0,1.0,...,7,7.0,1.000000,6,6.0,1.0,3,3.0,1.0,1.0000
14585,14586,PH8,1247,27,2,1247,694550,0.0,1.0,1.0,...,7,8.0,1.142857,6,6.0,1.0,3,3.0,1.0,1.0625

In [ ]:
y_list=['d101a', 'd101b', 'd101c', 'd101d', 'd101e', 'd101f', 'd103a',
            'd103b','d105a', 'd105b', 'd105c', 'd105d', 'd105e', 'd105f', 'd105g',
            'd105h', 'd105i', 'd105k']

emotional_list = ['d101a', 'd101b', 'd101c', 'd101d', 'd101e', 'd101f', 'd103a', 'd103b']
physical_list = ['d105a', 'd105b', 'd105c', 'd105d', 'd105e', 'd105f', 'd105g']
sexual_list = ['d105h', 'd105i', 'd105k']


attribute_lists = {
    'emotional': emotional_list,
    'physical': physical_list,
    'sexual': sexual_list
}

In [ ]:
import pandas as pd

def metadata(metadata_path):
    try:
        metadata = pd.read_csv(metadata_path, encoding='utf-8')
    except UnicodeDecodeError:
        # Try a different encoding if UTF-8 does not work
        metadata = pd.read_csv(metadata_path, encoding='ISO-8859-1')
    metadata['Item Name'] = metadata['Item Name'].apply(lambda x: x.lower() if isinstance(x, str) else x)
    return metadata

metadata_path = 'variable_description.csv'
metadata = metadata(metadata_path)
metadata

,Item Name,Item Label,Code,Description
0,caseid,(id) Case Identification,NaN,record type
1,v000,Country code and phase,NaN,NaN
2,v001,Cluster number,NaN,NaN
3,v002,Household number,NaN,NaN
4,v003,Respondent's line number,NaN,NaN
...,...,...,...,...
7358,s614a,Days after diarrhea begun sought advice or trea,0.065972222,Number of days
7359,s615d,Child given probiotic,0,No
7360,s615d,Child given probiotic,1,Yes
7361,s615d,Child given probiotic,8,Don't know
7362,s617b,How many days given zinc drops/syrup or tablets,0.065972222,Number of days

In [ ]:
new_des=['Never','Yes, but not in the last 12 months','Sometimes','Often']


for i in y_list:
    indices = metadata[metadata['Item Name'] == i].index
    for num in range(4):
        metadata.loc[indices[num+1], 'Description'] = new_des[num]

In [ ]:
# Assuming your reference data is structured as given, you might need to adjust keys if they differ
# Create a dictionary for each column that you need to map
mappings = {}
for item in metadata['Item Name'].unique():
    mappings[item] = dict(zip(metadata[metadata['Item Name'] == item]['Code'],
                              metadata[metadata['Item Name'] == item]['Description']))

In [ ]:
mappings

{'caseid': {nan: 'record type'},
 'v000': {nan: nan},
 'v001': {nan: nan},
 'v002': {nan: nan},
 'v003': {nan: nan},
 'v004': {nan: nan},
 'v005': {nan: nan},
 'v006': {'1:12': nan},
 'v007': {'2022': nan},
 'v008': {nan: nan},
 'v008a': {nan: nan},
 'v009': {'1:12': nan, 'na': 'Not applicable'},
 'v010': {'1972:2007': nan, 'na': 'Not applicable'},
 'v011': {nan: nan},
 'v012': {'15:49': nan, 'na': 'Not applicable'},
 'v013': {'1': '15-19',
  '2': '20-24',
  '3': '25-29',
  '4': '30-34',
  '5': '35-39',
  '6': '40-44',
  '7': '45-49',
  'na': 'Not applicable'},
 'v014': {'1': 'Month and year - information complete',
  '2': 'Month and age - year imputed',
  '3': 'Year and age - month imputed',
  '4': 'Year and age - year ignored',
  '5': 'Year - age/month imputed',
  '6': 'Age - year/month imputed',
  '7': 'Month - age/year imputed',
  '8': 'None - all imputed',
  'na': 'Not applicable'},
 'v015': {'1': 'Completed',
  '2': 'Not at home',
  '3': 'Postponed',
  '4': 'Refused',
  '5': 'Partially completed',
  '6': 'Respondent incapacitated',
  '7': 'Other'},
 'v016': {'1:31': nan},
 'v017': {nan: nan},
 'v018': {'0': 'No calendar', '1:20': nan},
 'v019': {'0': 'No calendar', '61:80': nan},
 'v019a': {'0': 'No calendar', '1:09': nan, 'na': 'Not applicable'},
 'v020': {'0': 'All woman sample', '1': 'Ever married sample'},
 'v021': {nan: nan},
 'v022': {nan: nan},
 'v023': {nan: nan},
 'v024': {'1': 'Region I - Ilocos',
  '2': 'Region II - Cagayan Valley',
  '3': 'Region III - Central Luzon',
  '4': 'Region IVA - Calabarzon',
  '5': 'Region V - Bicol',
  '6': 'Region VI - Western Visayas',
  '7': 'Region VII - Central Visayas',
  '8': 'Region VIII - Eastern Visayas',
  '9': 'Region IX - Zamboanga Peninsula',
  '10': 'Region X - Northern Mindanao',
  '11': 'Region XI - Davao',
  '12': 'Region XII - SOCCSKSARGEN',
  '13': 'National Capital Region',
  '14': 'CAR - Cordillera',
  '15': 'BARMM - Bangsamoro Autonomous Region in Muslim Mindanao',
  '16': 'Caraga',
  '17': 'MIMAROPA'},
 'v025': {'1': 'Urban', '2': 'Rural'},
 'v026': {'0': 'Capital, large city',
  '1': 'Small city',
  '2': 'Town',
  '3': 'Countryside',
  '9': 'Missing'},
 'v027': {'1:08': nan, '9': 'Missing'},
 'v028': {nan: nan},
 'v029': {'999': 'Missing'},
 'v030': {nan: nan},
 'v031': {nan: nan},
 'v032': {nan: nan},
 'v034': {'0': 'Husband not in household',
  '0.104166667': nan,
  '99': 'Missing'},
 'v040': {nan: nan},
 'v042': {'0': 'Not selected', '1': 'Selected', 'na': 'Not applicable'},
 'v044': {'0': 'Woman not selected',
  '1': 'Woman selected and interviewed',
  '2': 'Woman selected, but privacy not possible',
  '3': 'Woman selected, but not interviewed',
  'na': 'Not applicable'},
 'v045a': {'1': 'English',
  '2': 'Tagalog',
  '3': 'Ilocano',
  '4': 'Bikol',
  '5': 'Waray',
  '6': 'Hiligaynon',
  '7': 'Cebuano'},
 'v045b': {'1': 'English',
  '2': 'Tagalog',
  '3': 'Ilocano',
  '4': 'Bikol',
  '5': 'Waray',
  '6': 'Hiligaynon',
  '7': 'Cebuano',
  '96': 'Other'},
 'v045c': {'1': 'English',
  '2': 'Tagalog',
  '3': 'Ilocano',
  '4': 'Bikol',
  '5': 'Waray',
  '6': 'Hiligaynon',
  '7': 'Cebuano',
  '96': 'Other'},
 'v046': {'0': 'No', '1': 'Yes'},
 'v047': {nan: nan},
 'v048': {nan: nan},
 'v101': {'1': 'Region I - Ilocos',
  '2': 'Region II - Cagayan Valley',
  '3': 'Region III - Central Luzon',
  '4': 'Region IVA - Calabarzon',
  '5': 'Region V - Bicol',
  '6': 'Region VI - Western Visayas',
  '7': 'Region VII - Central Visayas',
  '8': 'Region VIII - Eastern Visayas',
  '9': 'Region IX - Zamboanga Peninsula',
  '10': 'Region X - Northern Mindanao',
  '11': 'Region XI - Davao',
  '12': 'Region XII - SOCCSKSARGEN',
  '13': 'National Capital Region',
  '14': 'CAR - Cordillera',
  '15': 'BARMM - Bangsamoro Autonomous Region in Muslim Mindanao',
  '16': 'Caraga',
  '17': 'MIMAROPA'},
 'v102': {'1': 'Urban', '2': 'Rural'},
 'v103': {'0': 'Capital, large city',
  '1': 'City',
  '2': 'Town',
  '3': 'Countryside',
  '4': 'Abroad',
  '9': 'Missing'},
 'v104': {'0.0625': nan,
  '95': 'Always',
  '96': 'Visitor',
  '97': 'Inconsistent',
  '98': "Don't know",
  '99': 'Missing'},
 'v105': {'0': 'Capital, large city',
  '1': 'City',
  '2': 'Town',
  '3': 'Countryside',
  '4': 'Abroad',
  '9': 'Missing'},
 'v105a': {'1': 'Region I - Ilocos',
  '2': 'Region II - Cagayan Valley',
  '3': 'Region III - Central Luzon',
  '4': 'Region IVA - Calabarzon',
  '5': 'Region V - Bicol',
  '6': 'Region VI - Western Visayas',
  '7': 'Region VII - Central Visayas',
  '8': 'Region VIII - Eastern Visayas',
  '9': 'Region IX - Zamboanga Peninsula',
  '10': 'Region X - Northern Mindanao',
  '11': 'Region XI - Davao',
  '12': 'Region XII - SOCCSKSARGEN',
  '13': 'National Capital Region',
  '14': 'CAR - Cordillera',
  '15': 'BARMM - Bangsamoro Autonomous Region in Muslim Mindanao',
  '16': 'Caraga',
  '17': 'MIMAROPA',
  '96': 'Abroad',
  '99': 'Missing'},
 'v106': {'0': 'No education',
  '1': 'Primary',
  '2': 'Secondary',
  '3': 'Higher',
  '9': 'Missing'},
 'v107': {'0': 'No years completed at level V106',
  '1:15': nan,
  '98': "Don't know",
  '99': 'Missing'},
 'v113': {'10': 'PIPED WATER',
  '11': 'Piped into dwelling',
  '12': 'Piped to yard/plot',
  '13': 'Piped to neighbor',
  '14': 'Public tap/standpipe',
  '20': 'TUBE WELL WATER',
  '21': 'Tube well or borehole',
  '30': 'DUG WELL (OPEN/PROTECTED)',
  '31': 'Protected well',
  '32': 'Unprotected well',
  '40': 'SURFACE FROM SPRING',
  '41': 'Protected spring',
  '42': 'Unprotected spring',
  '43': 'River/dam/lake/ponds/stream/canal/irrigation channel',
  '51': 'Rainwater',
  '61': 'Tanker truck',
  '62': 'Cart with small tank',
  '71': 'Bottled water',
  '72': 'Water refilling station',
  '96': 'Other',
  '97': 'Not a dejure resident',
  '99': 'Missing'},
 'v115': {'0.625': nan,
  '996': 'On premises',
  '997': 'Not a dejure resident',
  '998': "Don't know",
  '999': 'Missing'},
 'v116': {'10': 'FLUSH TOILET',
  '11': 'Flush to piped sewer system',
  '12': 'Flush to septic tank',
  '13': 'Flush to pit latrine',
  '14': 'Flush to somewhere else',
  '15': "Flush, don't know where",
  '20': 'PIT TOILET LATRINE',
  '21': 'Ventilated Improved Pit latrine (VIP)',
  '22': 'Pit latrine with slab',
  '23': 'Pit latrine without slab/open pit',
  '30': 'NO FACILITY',
  '31': 'No facility/bush/field',
  '41': 'Composting toilet',
  '42': 'Bucket toilet',
  '43': 'Hanging toilet/latrine',
  '96': 'Other',
  '97': 'Not a dejure resident',
  '99': 'Missing'},
 'v119': {'0': 'No', '1': 'Yes', '7': 'Not a dejure resident', '9': 'Missing'},
 'v120': {'0': 'No', '1': 'Yes', '7': 'Not a dejure resident', '9': 'Missing'},
 'v121': {'0': 'No', '1': 'Yes', '7': 'Not a dejure resident', '9': 'Missing'},
 'v122': {'0': 'No', '1': 'Yes', '7': 'Not a dejure resident', '9': 'Missing'},
 'v123': {'0': 'No', '1': 'Yes', '7': 'Not a dejure resident', '9': 'Missing'},
 'v124': {'0': 'No', '1': 'Yes', '7': 'Not a dejure resident', '9': 'Missing'},
 'v125': {'0': 'No', '1': 'Yes', '7': 'Not a dejure resident', '9': 'Missing'},
 'v127': {'10': 'NATURAL',
  '11': 'Earth/sand/mud',
  '20': 'RUDIMENTARY',
  '21': 'Wood planks',
  '22': 'Palm/bamboo',
  '23': 'Coconut lumber',
  '24': 'Makeshift/salvaged/improvised materials',
  '30': 'FINISHED',
  '31': 'Parquet or polished wood',
  '32': 'Vinyl or asphalt strips',
  '33': 'Ceramic tiles',
  '34': 'Concrete/cement',
  '35': 'Marble',
  '36': 'Carpet',
  '96': 'Other',
  '97': 'Not a dejure resident',
  '99': 'Missing'},
 'v128': {'10': 'NATURAL',
  '11': 'No walls',
  '12': 'Cane/palm/trunks',
  '13': 'Dirt',
  '20': 'RUDIMENTARY',
  '21': 'Bamboo',
  '22': 'Sawali/cogon/nipa',
  '23': 'Stone with mud',
  '24': 'Uncovered adobe',
  '25': 'Plywood',
  '26': 'Cardboard',
  '27': 'Makeshift/salvaged materials/cardboard',
  '28': 'Reused wood',
  '30': 'FINISHED',
  '31': 'Cement/concrete',
  '32': 'Stone with lime/cement',
  '33': 'Bricks',
  '34': 'Cement hollow blocks',
  '35': 'Covered adobe',
  '36': 'Wood planks/shingles',
  '37': 'Galvanized iron/aluminum',
  '96': 'Other',
  '97': 'Not a dejure resident',
  '99': 'Missing'},
 'v129': {'10': 'NATURAL',
  '11': 'No roof',
  '12': 'Thatch/palm leaf (NIPA)',
  '13': 'Sod/grass (Cogon)',
  '20': 'RUDIMENTARY',
  '21': 'Rustic mat',
  '22': 'Palm/bamboo',
  '23': 'Wood planks',
  '24': 'Makeshift/salvaged materials/cardboard',
  '30': 'FINISHED',
  '31': 'Metal/galvanized iron/aluminum',
  '32': 'Wood',
  '33': 'Calamine/cement fiber',
  '34': 'Cement/concrete',
  '35': 'Ceramic tiles',
  '36': 'Roofing shingles',
  '37': 'Asbestos',
  '96': 'Other',
  '97': 'Not a dejure resident',
  '99': 'Missing'},
 'v130': {'1': 'Roman Catholic',
  '2': 'Protestant',
  '3': 'Iglesia ni Cristo',
  '4': 'Aglipay',
  '5': 'Islam',
  '6': 'Other Christian (not otherwise categorisable)',
  '95': 'No religion',
  '96': 'Other'},
 'v131': {'1': 'Tagalog',
  '2': 'Cebuano',
  '3': 'Ilokano',
  '4': 'Hiligaynon/Ilonggo',
  '5': 'Bikolano',
  '6': 'Kapampangan',
  '7': 'Maranao',
  '8': 'Tausog',
  '9': 'Waray',
  '10': 'Aeta',
  '11': 'Badjao',
  '23': 'Akeanon',
  '26': 'Ayangan',
  '27': 'Blaan',
  '33': 'Bantoanon',
  '35': 'Boholano',
  '43': 'Cuyonon/Cuyone',
  '48': 'Higaonon',
  '49': 'Ibaloi/Ibaloy',
  '50': 'Ibanag',
  '52': 'Ifugao',
  '53': 'Iranon/Iranun/Iraynon',
  '55': 'Isneg/Isnag/Apayao',
  '58': 'Ivatan',
  '62': 'Kalibugan/Kolibugan',
  '63': 'Kalinga',
  '64': 'Kankanaey',
  '67': 'Manobo',
  '68': 'Subanen/Subanon',
  '69': 'Surigaonon',
  '71': 'Maguindanao',
  '73': 'Mandaya',
  '77': 'MasbateÃ©\x94\x9fÃ§ÂµÂ¦/ Masbatenon',
  '80': 'Pangasinan/ Paggalato',
  '82': 'Sama /Bangingi / Badajo/ Laut/ Samal',
  '84': 'Tagakaulo',
  '85': 'Tuwali',
  '86': 'Yakan',
  '87': 'ZambageÃ©\x94\x9fÃ§ÂµÂ¦ - Chavacano',
  '88': 'Other Nationality',
  '96': 'Other'},
 'v133': {'0:20': nan,
  '97': 'Inconsistent',
  '98': "Don't know",
  '99': 'Missing'},
 'v134': {'0': 'Capital, large city',
  '1': 'Small city',
  '2': 'Town',
  '3': 'Countryside',
  '9': 'Missing'},
 'v135': {'1': 'Usual resident', '2': 'Visitor', '9': 'Missing'},
 'v136': {nan: nan},
 'v137': {nan: nan},
 'v138': {nan: nan},
 'v139': {'0': 'Abroad',
  '1': 'Region I - Ilocos',
  '2': 'Region II - Cagayan Valley',
  '3': 'Region III - Central Luzon',
  '4': 'Region IVA - Calabarzon',
  '5': 'Region V - Bicol',
  '6': 'Region VI - Western Visayas',
  '7': 'Region VII - Central Visayas',
  '8': 'Region VIII - Eastern Visayas',
  '9': 'Region IX - Zamboanga Peninsula',
  '10': 'Region X - Northern Mindanao',
  '11': 'Region XI - Davao',
  '12': 'Region XII - SOCCSKSARGEN',
  '13': 'National Capital Region',
  '14': 'CAR - Cordillera',
  '15': 'BARMM - Bangsamoro Autonomous Region in Muslim Mindanao',
  '16': 'Caraga',
  '17': 'MIMAROPA',
  '97': 'Not dejure resident',
  '99': 'Missing'},
 'v140': {'0': 'Abroad',
  '1': 'Urban',
  '2': 'Rural',
  '7': 'Not a dejure resident',
  '9': 'Missing'},
 'v141': {'0': 'Capital, large city',
  '1': 'City',
  '2': 'Town',
  '3': 'Countryside',
  '4': 'Abroad',
  '7': 'Not a dejure resident',
  '9': 'Missing'},
 'v149': {'0': 'No education',
  '1': 'Incomplete primary',
  '2': 'Complete primary',
  '3': 'Incomplete secondary',
  '4': 'Complete secondary',
  '5': 'Higher',
  '9': 'Missing'},
 'v150': {'1': 'Head',
  '2': 'Wife',
  '3': 'Daughter',
  '4': 'Daughter-in-law',
  '5': 'Granddaughter',
  '6': 'Mother',
  '7': 'Mother-in-law',
  '8': 'Sister',
  '9': 'Co-spouse',
  '10': 'Other relative',
  '11': 'Adopted/foster child',
  '12': 'Not related',
  '98': "Don't know",
  '99': 'Missing'},
 'v151': {'1': 'Male', '2': 'Female'},
 'v152': {'0.066666667': nan,
  '97': '97+',
  '98': "Don't know",
  '99': 'Missing'},
 'v153': {'0': 'No', '1': 'Yes', '7': 'Not a dejure resident', '9': 'Missing'},
 'awfactt': {'100': nan, 'na': 'Not applicable'},
 'awfactu': {'100': nan, 'na': 'Not applicable'},
 'awfactr': {'100': nan, 'na': 'Not applicable'},
 'awfacte': {'100': nan, 'na': 'Not applicable'},
 'awfactw': {'100': nan, 'na': 'Not applicable'},
 'v155': {'0': 'Cannot read at all',
  '1': 'Able to read only parts of sentence',
  '2': 'Able to read whole sentence',
  '3': 'No card with required language',
  '4': 'Blind/visually impaired',
  '9': 'Missing'},
 'v156': {'0': 'No', '1': 'Yes', '9': 'Missing'},
 'v157': {'0': 'Not at all',
  '1': 'Less than once a week',
  '2': 'At least once a week',
  '3': 'Almost every day',
  '9': 'Missing'},
 'v158': {'0': 'Not at all',
  '1': 'Less than once a week',
  '2': 'At least once a week',
  '3': 'Almost every day',
  '9': 'Missing'},
 'v159': {'0': 'Not at all',
  '1': 'Less than once a week',
  '2': 'At least once a week',
  '3': 'Almost every day',
  '9': 'Missing'},
 'v160': {'0': 'No', '1': 'Yes', '7': 'Not a dejure resident', '9': 'Missing'},
 'v161': {'1': 'Electricity',
  '2': 'Solar energy',
  '3': 'Liquefied petroleum gas (LPG)/cooking gas',
  '4': 'Piped natural gas',
  '5': 'Biogas',
  '6': 'Alcohol/ethanol',
  '7': 'Gasoline/diesel',
  '8': 'Kerosene/paraffin',
  '9': 'Coal/lignite',
  '10': 'Charcoal',
  '11': 'Wood',
  '12': 'Straw/shrubs/grass',
  '13': 'Agricultural crop',
  '14': 'Animal dung/waste',
  '15': 'Processed biomass (pellets) or woodchips',
  '16': 'Garbage/plastic',
  '17': 'Sawdust',
  '95': 'No food cooked in house',
  '96': 'Other',
  '97': 'Not a dejure resident',
  '99': 'Missing'},
 'v166': {'0': '0 ppm (no iodine)',
  '1:06': nan,
  '7': '7 ppm',
  '8:14': nan,
  '15': '15 ppm',
  '16:29': nan,
  '30': '30 ppm',
  '31:100': nan,
  '994': 'Salt not tested',
  '995': 'No salt',
  '997': 'Not a dejure resident',
  '999': 'Missing'},
 'v167': {'0': nan, '0.103472222': nan, '90': '90+', '99': 'Missing'},
 'v168': {'0': 'No', '1': 'Yes', '9': 'Missing'},
 'v169a': {'0': 'No', '1': 'Yes', '9': 'Missing'},
 'v169b': {'0': 'No', '1': 'Yes', '9': 'Missing'},
 'v169c': {'0': 'No', '1': 'Yes', '9': 'Missing'},
 'v170': {'0': 'No', '1': 'Yes', '9': 'Missing'},
 'v171a': {'0': 'Never',
  '1': 'Yes, last 12 months',
  '2': 'Yes, before last 12 months',
  '3': "Yes, can't establish when",
  '9': 'Missing'},
 'v171b': {'0': 'Not at all',
  '1': 'Less than once a week',
  '2': 'At least once a week',
  '3': 'Almost every day',
  '9': 'Missing'},
 'v172': {'1': 'Region I - Ilocos',
  '2': 'Region II - Cagayan Valley',
  '3': 'Region III - Central Luzon',
  '4': 'Region IVA - Calabarzon',
  '5': 'Region V - Bicol',
  '6': 'Region VI - Western Visayas',
  '7': 'Region VII - Central Visayas',
  '8': 'Region VIII - Eastern Visayas',
  '9': 'Region IX - Zamboanga Peninsula',
  '10': 'Region X - Northern Mindanao',
  '11': 'Region XI - Davao',
  '12': 'Region XII - SOCCSKSARGEN',
  '13': 'National Capital Region',
  '14': 'CAR - Cordillera',
  '15': 'BARMM - Bangsamoro Autonomous Region in Muslim Mindanao',
  '16': 'Caraga',
  '17': 'MIMAROPA',
  '96': 'Outside of the Philippines'},
 'v173': {'1': 'China',
  '2': 'Spain',
  '3': 'Indonesia',
  '4': 'India',
  '5': 'Iran, Islamic Republic of',
  '6': 'Italy',
  '7': 'Japan',
  '8': 'Cambodia',
  '9': 'Kuwait',
  '10': 'Malaysia',
  '11': 'Qatar',
  '12': 'Saudi Arabia',
  '13': 'United States of America'},
 'v174m': {'1:12': nan, '98': "Don't know month"},
 'v174y': {'2017:2022': nan, '9998': "Don't know year"},
 'v175': {'1': 'Employment',
  '2': 'Education/training',
  '3': 'Marriage formation',
  '4': 'Family reunification/other family-related reason',
  '5': 'Forced displacement',
  '96': 'Other'},
 'v176': {'1': 'Very good',
  '2': 'Good',
  '3': 'Moderate',
  '4': 'Bad',
  '5': 'Very bad'},
 'v177': {'0': 'No', '1': 'Yes'},
 'v190': {'1': 'Poorest',
  '2': 'Poorer',
  '3': 'Middle',
  '4': 'Richer',
  '5': 'Richest',
  'na': 'Not applicable'},
 'v191': {'na': 'Not applicable'},
 'v190a': {'1': 'Poorest',
  '2': 'Poorer',
  '3': 'Middle',
  '4': 'Richer',
  '5': 'Richest',
  'na': 'Not applicable'},
 'v191a': {'na': 'Not applicable'},
 'ml101': {'0': 'No net',
  '1': 'Only treated nets',
  '2': 'Both treated and untreated nets',
  '3': 'Only untreated nets',
  '9': 'Missing'},
 'bidx': {'1:20': nan},
 'bidxp': {'1:20': nan},
 'bord': {'1:20': nan},
 'b0': {'0': 'Single birth',
  '1': '1st of multiple',
  '2': '2nd of multiple',
  '3': '3rd of multiple',
  '4': '4th of multiple',
  '5': '5th of multiple'},
 'b1': {'1:12': nan},
 'b2': {'1982:2022': nan},
 'b3': {nan: nan},
 'b4': {'1': 'Male', '2': 'Female'},
 'b5': {'0': 'No', '1': 'Yes'},
 'b6': {'100': 'Died on day of birth',
  '101': 'Days: 1',
  '102:198': nan,
  '199': 'Days: number missing',
  '201': 'Months: 1',
  '202:298': nan,
  '299': 'Months: number missing',
  '301': 'Years: 1',
  '302:398': nan,
  '399': 'Years: number missing',
  '997': 'Inconsistent',
  '998': "Don't know",
  '999': 'Missing'},
 'b7': {'0.291666667': nan, 'na': 'Not applicable'},
 'b8': {'0:40': nan, 'na': 'Not applicable'},
 'b9': {'0': 'Respondent',
  '1': 'Father',
  '2': 'Other relative',
  '3': 'Someone else',
  '4': 'Lives elsewhere',
  '9': 'Missing'},
 'b10': {'0': 'Month, year and day',
  '1': 'Month and year - information complete',
  '2': 'Month and age - year imputed',
  '3': 'Year and age - month imputed',
  '4': 'Year and age - year ignored',
  '5': 'Year - age/month imputed',
  '6': 'Age - year/month imputed',
  '7': 'Month - age/year imputed',
  '8': 'None - all imputed'},
 'b11': {'0.458333333': nan, 'na': 'Not applicable'},
 'b12': {'0.458333333': nan, 'na': 'Not applicable'},
 'b13': {'0': 'No flag',
  '1': '> interview',
  '2': '< breastfeeding',
  '3': '< age supplemented',
  '4': '< first breastfed',
  '5': '< last vaccination',
  '6': 'Outside range',
  '7': 'Imputed, units given',
  '8': 'Imputed, no units',
  'na': 'Not applicable'},
 'b15': {'0': 'No', '1': 'Yes', '9': 'Missing'},
 'b16': {'0': 'Not listed in household', '0.09375': nan, '99': 'Missing'},
 'b17': {'1:31': nan},
 'b18': {nan: nan},
 'b19': {nan: nan},
 'b20': {'1:10': nan, 'na': 'Not applicable'},
 'b21': {'100:150': 'Weeks', '200:211': 'Months', '999': 'Missing'},
 'pidx': {'1:20': nan},
 'pidxb': {'0': 'Termination (not in birth history)', '1:20': nan},
 'pord': {'1:20': nan},
 'p0': {'0': 'Single birth',
  '1': '1st of multiple',
  '2': '2nd of multiple',
  '3': '3rd of multiple',
  '4': '4th of multiple',
  '5': '5th of multiple'},
 'p1': {'1:12': nan},
 'p2': {'1982:2022': nan},
 'p3': {nan: nan},
 'p4': {'1': 'Male', '2': 'Female'},
 'p5': {'0': 'No', '1': 'Yes'},
 'p6': {'100': 'Died on day of birth',
  '101': 'Days: 1',
  '102:198': nan,
  '199': 'Days: number missing',
  '201': 'Months: 1',
  '202:298': nan,
  '299': 'Months: number missing',
  '301': 'Years: 1',
  '302:398': nan,
  '399': 'Years: number missing',
  '997': 'Inconsistent',
  '998': "Don't know",
  '999': 'Missing'},
 'p7': {'0.291666667': nan, 'na': 'Not applicable'},
 'p8': {'0:40': nan, 'na': 'Not applicable'},
 'p9': {'0': 'Respondent',
  '1': 'Father',
  '2': 'Other relative',
  '3': 'Someone else',
  '4': 'Lives elsewhere',
  '9': 'Missing'},
 'p10': {'0': 'Month, year and day',
  '1': 'Month and year - information complete',
  '2': 'Month and age - year imputed',
  '3': 'Year and age - month imputed',
  '4': 'Year and age - year ignored',
  '5': 'Year - age/month imputed',
  '6': 'Age - year/month imputed',
  '7': 'Month - age/year imputed',
  '8': 'None - all imputed'},
 'p11': {'0.268055556': nan, 'na': 'Not applicable'},
 'p12': {'0.268055556': nan, 'na': 'Not applicable'},
 'p13': {'0': 'No flag',
  '1': '> interview',
  '2': '< breastfeeding',
  '3': '< age supplemented',
  '4': '< first breastfed',
  '5': '< last vaccination',
  '6': 'Outside range',
  '7': 'Imputed, units given',
  '8': 'Imputed, no units',
  'na': 'Not applicable'},
 'p15': {'0': 'No', '1': 'Yes', '9': 'Missing'},
 'p16': {'0': 'Not listed in household', '0.09375': nan, '99': 'Missing'},
 'p17': {'1:31': nan},
 'p18': {nan: nan},
 'p19': {nan: nan},
 'p20': {'1:10': nan, 'na': 'Not applicable'},
 'p21': {'100:150': 'Weeks', '200:211': 'Months', '999': 'Missing'},
 'p30': {'1': 'Born alive',

In [ ]:
def apply_mappings(data, mappings):
    """
    Apply mappings to specified columns of a DataFrame.

    Parameters:
    - data (pd.DataFrame): The DataFrame to be modified.
    - mappings (dict): A dictionary where keys are column names and values are dictionaries
                       mapping old values to new values.

    Returns:
    - pd.DataFrame: The modified DataFrame with mapped values.
    """
    for column, mapping in mappings.items():
        if column in data.columns:
            # Convert mapping keys from string to appropriate type, if possible
            try:

                mapping_int_keys = {int(k): v for k, v in mapping.items()}

            except ValueError:
                # If conversion fails, use the mapping as is
                mapping_int_keys = mapping

            # Apply the mapping to the DataFrame column using map on the specific series
            data[column] = data[column].map(mapping_int_keys).fillna(data[column])

    return data


map_data_table = apply_mappings(df, mappings)

C:\Users\wangc\AppData\Local\Temp\ipykernel_34444\164241769.py:25: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[column] = data[column].map(mapping_int_keys).fillna(data[column])
C:\Users\wangc\AppData\Local\Temp\ipykernel_34444\164241769.py:25: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[column] = data[column].map(mapping_int_keys).fillna(data[column])
C:\Users\wangc\AppData\Local\Temp\ipykernel_34444\164241769.py:25: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[column] = data[column].map(mapping_int_keys).fillna(data[column])
C:\Users\wangc\AppData\Local\Temp\ipykernel_34444\164241769.py:25: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[column] = data[column].map(mapping_int_keys).fillna(data[column])
C:\Users\wangc\AppData\Local\Temp\ipykernel_34444\164241769.py:25: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[column] = data[column].map(mapping_int_keys).fillna(data[column])
C:\Users\wangc\AppData\Local\Temp\ipykernel_34444\164241769.py:25: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[column] = data[column].map(mapping_int_keys).fillna(data[column])
C:\Users\wangc\AppData\Local\Temp\ipykernel_34444\164241769.py:25: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[column] = data[column].map(mapping_int_keys).fillna(data[column])
C:\Users\wangc\AppData\Local\Temp\ipykernel_34444\164241769.py:25: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[column] = data[column].map(mapping_int_keys).fillna(data[column])
C:\Users\wangc\AppData\Local\Temp\ipykernel_34444\164241769.py:25: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[column] = data[column].map(mapping_int_keys).fillna(data[column])
C:\Users\wangc\AppData\Local\Temp\ipykernel_34444\164241769.py:25: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[column] = data[column].map(mapping_int_keys).fillna(data[column])
C:\Users\wangc\AppData\Local\Temp\ipykernel_34444\164241769.py:25: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[column] = data[column].map(mapping_int_keys).fillna(data[column])
C:\Users\wangc\AppData\Local\Temp\ipykernel_34444\164241769.py:25: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[column] = data[column].map(mapping_int_keys).fillna(data[column])
C:\Users\wangc\AppData\Local\Temp\ipykernel_34444\164241769.py:25: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[column] = data[column].map(mapping_int_keys).fillna(data[column])
C:\Users\wangc\AppData\Local\Temp\ipykernel_34444\164241769.py:25: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[column] = data[column].map(mapping_int_keys).fillna(data[column])
C:\Users\wangc\AppData\Local\Temp\ipykernel_34444\164241769.py:25: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[column] = data[column].map(mapping_int_keys).fillna(data[column])
C:\Users\wangc\AppData\Local\Temp\ipykernel_34444\164241769.py:25: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[column] = data[column].map(mapping_int_keys).fillna(data[column])

In [ ]:
for i in df.columns:
    try:
        name=list(metadata[metadata['Item Name']==i]['Item Label'])[0]
        df = df.rename(columns={i: name})
    except IndexError as e:
        print(f"no need to rename")

no need to rename
no need to rename
no need to rename
no need to rename
no need to rename
no need to rename
no need to rename
no need to rename
no need to rename
no need to rename
no need to rename
no need to rename
no need to rename

In [ ]:
df

,unique_id,Country code and phase,Cluster number,Household number,Respondent's line number,Ultimate area unit,Women's individual sample weight (6 decimals),Ever control your own money or properties or fo,Ever been physically forced into unwanted sex b,Ever been forced into other unwanted sexual act,...,emotional_valid_count,emotional_valid_sum,emotional_avg,physical_valid_count,physical_valid_sum,physical_avg,sexual_valid_count,sexual_valid_sum,sexual_avg,overall_avg
0,1,PH8,1.0,6.0,2.0,1.0,116381.0,Never,Never,Never,...,7,7.0,1.000000,6,6.0,1.0,3,3.0,1.0,1.0000
1,2,PH8,1.0,7.0,6.0,1.0,116381.0,Never,Never,Never,...,7,13.0,1.857143,6,6.0,1.0,3,3.0,1.0,1.3750
2,3,PH8,1.0,8.0,2.0,1.0,116381.0,Never,Never,Never,...,7,7.0,1.000000,6,6.0,1.0,3,3.0,1.0,1.0000
3,4,PH8,1.0,9.0,2.0,1.0,116381.0,Never,Never,Never,...,7,7.0,1.000000,6,6.0,1.0,3,3.0,1.0,1.0000
4,5,PH8,1.0,17.0,2.0,1.0,116381.0,Never,Sometimes,Sometimes,...,7,11.0,1.571429,6,6.0,1.0,3,9.0,3.0,1.6250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14581,14582,PH8,1247.0,17.0,3.0,1247.0,694550.0,Never,Never,Never,...,7,7.0,1.000000,6,6.0,1.0,3,3.0,1.0,1.0000
14582,14583,PH8,1247.0,20.0,2.0,1247.0,694550.0,Never,Never,Never,...,7,9.0,1.285714,6,6.0,1.0,3,3.0,1.0,1.1250
14583,14584,PH8,1247.0,23.0,2.0,1247.0,694550.0,Never,Never,Never,...,7,8.0,1.142857,6,6.0,1.0,3,3.0,1.0,1.0625
14584,14585,PH8,1247.0,26.0,7.0,1247.0,694550.0,Never,Never,Never,...,7,7.0,1.000000,6,6.0,1.0,3,3.0,1.0,1.0000
14585,14586,PH8,1247.0,27.0,2.0,1247.0,694550.0,Never,Never,Never,...,7,8.0,1.142857,6,6.0,1.0,3,3.0,1.0,1.0625

In [ ]:
df.to_csv('final_with_name.csv', index=False)